/*リスト*/
table{
    table-layout: fixed;
    font-size: 30pt;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: solid 2px #668ad8;
}
table th{
    padding: 10px;
    color: black;
    background-color: rgb(172, 234, 255);
}
table td{
    padding: 10px;
}
/*リスト*/


/*基本ボタン*/
section {
    max-width: 300px;
    margin: 0 auto;
  }
  a.btn_home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #668ad8;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 25px;
    color: #668ad8;
    font-size: 30px;
    text-align: left;
    text-decoration: none;
    position: relative;
    transition-duration: 0.2s;
  }
  a.btn_home:hover {
    background: #668ad8;
    border: 1px solid #668ad8;
    color: #fff;
  }
  a.btn_home:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 40px 50px;
    border-color: transparent transparent #668ad8 transparent;
  }
  a.btn_home span {
      position: absolute;
      bottom: 12px;
      right: 20px;
      display: inline-block;
  }
  a.btn_home span:before {
      content: '';
      width: 16px;
      height: 16px;
      background: #ffffff;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -8px;
  }
  a.btn_home span:after {
      content: '';
      width: 6px;
      height: 6px;
      border: 0;
      border-top: 2px solid #668ad8;
      border-right: 2px solid #668ad8;
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      left: 4px;
      margin-top: -3px;
  }
/*基本ボタン*/

/*もどるボタン*/
  .btn-stitch {
    margin: 10px;
    font-size: 20px;
    text-align: left;
    padding: 10px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #668ad8;
    border: dashed 1px #FFF;
  }
  
  .btn-stitch:hover {
    border: dotted 1px #FFF;
  }
/*もどるボタン*/

/*確認するボタン*/
.btn-check{
  margin-left: auto;
  margin: 10px;
  font-size: 20px;
  text-align: left;
  padding: 10px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #668ad8;
  border: dashed 1px #FFF;
}
.btn-check:hover {
  border: dotted 1px #FFF;
}
/*確認するボタン*/

/*テキストフィールド*/
input[type="text"]{
    width: 100%;
    height: 100%;
    padding: 1px;
    font-size: 30px;
}
/*テキストフィールド*/

/*再確認ボタン*/
input[type="button"]{
  border: 1px;
  border-radius: 0.3em;
  font-size: 20px;
}
/*再確認ボタン*/

/*画面構成*/
html ,body {
    margin: 0;
    padding: 0;
    height: 100%;
}
p.title{
    font-size: 30px;
    text-align: center;
    margin: 0;
}
.container {
    position: relative;
    min-height: 100%;
}
header {
    background-color: lightpink;
    height: 50px;
}
.main {
    padding-bottom: 150px;
}
footer {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
}
/*画面構成*/