table{
    text-align: center;
    border-collapse: collapse;
    border: solid 2px rgb(52, 37, 253)
}
table th{
    padding: 10px;
    color: black;
    background-color: rgb(172, 234, 255);
}
table td{
    padding: 3px 10px;
}