<<<<<<< HEAD
table{
    text-align: center;
}
table th{
    padding: 10px;
    color: deepskyblue;
}
table td{
    padding: 3px 10px;
=======
table th{
    padding: 10px;
}
table td{
    padding: 3px 10px;
>>>>>>> 0b4fba74902363ebe03215a7ecaae4b9bbc86fa1
}