table.home{
    font-size: 30pt;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: solid 2px rgb(52, 37, 253)
}
table.home th{
    padding: 10px;
    color: black;
    background-color: rgb(172, 234, 255);
}
table.home td{
    padding: 10px;
}

section {
    max-width: 300px;
    margin: 0 auto;
  }
  a.btn_07 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #eea551;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0 25px;
    color: #eea551;
    font-size: 40px;
    text-align: left;
    text-decoration: none;
    position: relative;
    transition-duration: 0.2s;
  }
  a.btn_07:hover {
    background: #eea551;
    border: 1px solid #eea551;
    color: #fff;
  }
  a.btn_07:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 40px 50px;
    border-color: transparent transparent #eea551 transparent;
  }
  a.btn_07 span {
      position: absolute;
      bottom: 12px;
      right: 20px;
      display: inline-block;
  }
  a.btn_07 span:before {
      content: '';
      width: 16px;
      height: 16px;
      background: #ffffff;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -8px;
  }
  a.btn_07 span:after {
      content: '';
      width: 6px;
      height: 6px;
      border: 0;
      border-top: 2px solid #eea551;
      border-right: 2px solid #eea551;
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      left: 4px;
      margin-top: -3px;
  }